// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;

$main-color: #a4f6a5;


$dark-grey: #5b5a5e;
$dark-yellow: #f1cf00;
$light-grey: #eaeaea;
$white: #ffffff;

