.stage-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  background-color: rgb(160, 160, 160);

}

.lead-card {
  padding: 16px;
  background-color: white;
  box-shadow: 1px 1px 1px rgb(160, 160, 160);
  border-radius: 4px;
  border-bottom: 1px solid rgb(220, 220, 220);
}

.sales-funnel-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.stage-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgb(220, 220, 220);
}

.stage-body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: 1px solid rgb(220, 220, 220);
}

.stage-header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  p {
    margin: 0;
    font-weight: bold;
    font-size: 1.1em;
  }
}

.lost-lead {
  background-color: #f36a7b;
}

.won-lead {
  background-color: #a1dd70;
}