<div id="footer">
  <div class="footer-logo">
    <%= image_tag 'logo-cinza.png', class: "logo" %>
  </div>
  <div class="footer-social">

    <%= link_to root_path do %>
    <i class="fab fa-google-plus-g social-button text-center"></i>
    <% end %>

    <%= link_to root_path do %>
    <i class="fab fa-facebook-f social-button text-center"></i>
    <% end %>

    <%= link_to root_path do %>
    <i class="fab fa-instagram social-button text-center"></i>
    <% end %>

  </div>

</div>
