<div class="sidebox">
  <%= image_tag "hamaji", class:"sidebar-avatar" %>
  <h5>Nome</h5>
  <p><%= current_user.name %></p>
  <h1>
    <i class="fas fa-briefcase"></i>
  </h1>
  <p>Negócios</p>
  <h1>
    <i class="fas fa-thumbs-up"></i>
  </h1>
  <p>Prospecções</p>
  <h1>
    <i class="fas fa-clipboard-list"></i>
  </h1>
  <p>Atividades</p>
  <h1>
    <i class="fas fa-users"></i>
  </h1>
  <p>Contatos</p>
  <h1>
    <i class="fas fa-trophy"></i>
  </h1>
  <p>Conquistas</p>
  <h1>
    <i class="fas fa-sliders-h"></i>
  </h1>
  <p>Configurações</p>
</div>
