.navbar {
  height: 100px;
  position: fixed;
  width: 100vw;
  padding: 0 40px;
  margin: 0;
  z-index: 500;
  background-color: rgb(20, 20, 20);
  display: flex;
  align-items: center;
  justify-content: space-between;
  a {
    text-decoration: none;
    font-size: 0.8em;
    color: rgb(245, 245, 245);
  }

  a:hover {
    color: rgb(230, 230, 230);
  }
}

.nav-wrapper {
  height: 100px;
  width: 100vw;
}

.nav-item-logo {
  flex: 0 0 auto;
}


.nav-items {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-mobile {
  flex: 0 0 auto;
  transition: all 0.3s ease;
}

.nav-item-left {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-item-right {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100px;
}

.navbar-links {
  font-size: 24px !important;
  padding: 0 20px;
}

.level-box {
  position: relative;
  width: 300px;
  margin-right: 50px;
}

.navbar-level-left {
  position: absolute;
  left: -43px;
  bottom: -5px;
  height: 25px;
  width: 25px;
  background-color: #FB8904;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  margin: auto auto !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-level-right {
  position: absolute;
  right: -43px;
  bottom: -5px;
  height: 25px;
  width: 25px;
  background-color: #FB8904;
  color: white;
  font-weight: bold;
  font-size: 16px;
  border-radius: 50%;
  margin: auto auto !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}