$sidebox-size: 240px;

.sidebox {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  color: white;
  width: $sidebox-size;
  height: 100%;
  background: $gray;
  a {
    color: $light-gray;
  }
  p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 16px;
  }
  div {
    padding-top: 8px;
  }
  div:hover {
    transition: 0.3s;
    background: $light-gray;
    color: black;
  }
}

.sidebar-avatar {
  margin: 16px;
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.fullbox {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: $sidebox-size auto;
}

.avatar-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar-level {
  position: absolute;
  right: 66px;
  bottom: 14px;
  height: 32px;
  width: 32px;
  background-color: #FB8904;
  color: white;
  font-weight: bold;
  font-size: 21px;
  border-radius: 50%;
  margin: auto auto !important;
  padding: 0 !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

