.sidebox {
  text-align: center;
  color: white;
  width: 240px;
  min-height: 100%;
  background: grey;
  p:last-of-type {
    margin-bottom: 0;
    padding-bottom: 16px;
  }
}

.sidebar-avatar {
  margin: 16px;
  width: 120px;
  height: auto;
  border-radius: 50%;
}

.sidebar-link {

}

.fullbox {
  display: grid;
  grid-template-columns: 1fr 7fr;
}
