.tabs-underlined {
  display: flex;
  align-items: center;
}

.tabs-underlined .tab-underlined {
  color: black;
  padding: 8px;
  margin: 8px 16px;
  opacity: .4;
  cursor: pointer;
  text-decoration: none;
  border-bottom: 4px solid transparent;
}

.tabs-underlined .tab-underlined.active {
  opacity: 1;
  border-bottom: 3px solid #555555;
}

.lavalamp .lavalamp-object  .ease {
  transition-timing-function: ease;
}

.nav-tabs .lavalamp-object {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  border-radius: 0;
}

.nav .lavalamp-object {
  z-index: 1;
}

.active.nav-item {
    border-bottom: 2px solid #FD1015;
}