// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap";

// Your CSS partials
@import "layouts/index";
@import "components/index";
@import "pages/index";

// Styles that apply for the entire application

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: rgb(60, 60, 60);
    text-decoration: none !important;
  }
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.fullbox>.container{
  padding: 2%;
}
